.container-main {
    width: 1170px;
    margin: 10px 10px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    
}
.container-dice {
    
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    
}

.image-dice {
    height: 75%;
}

.roll-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #29335C;
    font-size: 2rem;
}

@media only screen and (max-width: 1024px){
    .image-dice {
        width: 50%;
    }
    
}