.container-main {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    
}

/*
.image-rolling-dice {
    
    height: 100%;
    width: auto;
    border: 1px solid black;  Justified to Container-main 
}
*/

.container-text {
    text-align: center;
    padding: 40px;
    font-weight: 400;
    line-height: 1.5rem;
    
}

.title {
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.text {
    font-size: 1rem;
    text-align: justify;
}

@media only screen and (max-width: 1024px){
    .container-main {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        
    }
}