@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    
    font-family: 'Titillium Web', sans-serif;
}

html, body {
  background-color: #f5f6f7;
  font-size: 18px;
  
}

main.container-principle {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.swal-button {

  padding: 7px 19px;

  border-radius: 0px;

  background-color: #29335C;

  font-size: 1rem;

  border: 1px solid #29335C;
 
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);

}